<div class="container">
	<div class="row">
		<div class="col-sm-12">
			<h1>All Companies</h1>
			<p>
				<%= link_to 'New Company', new_company_path %>
			</p>
			<div class="table-responsive">
				<table class="table table-hover table-striped table-bordered">
					<thead>
						<tr>
							<th>Name</th>
							<th>Website</th>
							<th class="text-center" colspan="3"><i class="fa fa-cog"></i></th>
						</tr>
					</thead>
					<tbody>
						<% @companies.each do |company| %>
							<tr>
								<td><%= company.name %></td>
								<td><%= company.website %></td>
								<td><%= link_to 'Show', company_path(company) %></td>
								<td><%= link_to 'Edit', edit_company_path(company) %></td>
								<td>
									<%= link_to 'Destroy', company_path(company), method: :delete, data: { confirm: 'Are you sure?' } %>
								</td>
							</tr>
						<% end %>
					</tbody>
				</table>
			</div>
		</div>
	</div>
</div>