<div class="jumbotron">
	<div class="container">
		<h1><%= @company.name %></h1>
		<p><%= @company.description %></p>
		<p>
			<a href="<%= @company.website %>" class="btn btn-primary btn-lg">Visit website</a>
		</p>
	</div>
</div>
<div class="container">
	<div class="row">
		<div class="col-sm-12">
			<h2>Jobs</h2>
			<div class="table-responsive">
				<table class="table table-hover">
					<thead>
						<tr>
							<th>Title</th>
							<th>Description</th>
							<th></th>
						</tr>
					</thead>
					<tbody>			
						<%= render @company.jobs %>
					</tbody>
				</table>
			</div>			
		</div>
	</div>
	<div class="row">
		<div class="col-sm-12">
			<%= link_to 'Edit', edit_company_path(@company) %> | 
			<%= link_to 'Back', companies_path %>
		</div>
	</div>
</div>
